Caro <%= @nome %>,

	 Sua senha na plataforma Escola da Paz foi alterada com sucesso.

	- Dados:

	Login: <%= @login %>
	Senha: <%= @pass %>

Acesse o sistema em http://escoladapaz.nce.ufrj.br/ para alterar sua senha caso necessário.
