Caro administrador da plataforma Escola da Paz,

	Existe um usuário a ser aprovado na plataforma.

	- Dados:

	Nome: <%= @nome %>
	E-mail: <%= @email %>

Acesse o sistema em http://escoladapaz.nce.ufrj.br/ para poder aprová-lo.
