<%= error_messages_for 'curso' %>

<!--[form:curso]-->
<p><label for="curso_codigo">Código:</label><br/>
<%= text_field 'curso', 'codigo', :size => 10, :maxlength => 10 %></p>

<p><label for="curso_nome">Nome:</label><br/>
<%= text_field 'curso', 'nome', :size => 50, :maxlength => 50 %></p>
<!--[eoform:curso]-->
