<%= error_messages_for 'arquivo' %>

<!--[form:arquivo]-->
<p><label for="arquivo_codigo">Código:</label><br/>
<%= text_field 'arquivo', 'codigo', :size => 10, :maxlength => 5 %></p>

<p><label for="arquivo_nome">Nome:</label><br/>
<%= text_field 'arquivo', 'nome', :size => 50, :maxlength => 50 %></p>
<!--[eoform:arquivo]-->
